<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>GroupDocs Ruby SDK Samples for heroku add-on.</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="static/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="static/css/main.css">

        <script src="static/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

		<div class="navbar navbar-inverse navbar-fixed-top">
		    <div class="navbar-inner">
		        <div class="container">
		            <a class="brand" href="http://www.groupdocs.com">GroupDocs</a>
		            <div class="nav-collapse collapse">
		                <ul class="nav">
		                    <li class="active"><a href="/">Home</a></li>
		                    <li><a href="/contact">Contact</a></li>
		                    <li><a href="/about">About</a></li>
		                </ul>
		            </div>
		        </div>
		    </div>
		</div>
        <div class="container">
            <div class="hero-unit">
	            <h2>GroupDocs Ruby SDK Samples for <a href="http://www.heroku.com/" target="_blank">heroku</a> add-on.</h2>
				<ul class="nav nav-pills nav-stacked">
		            <li><a href="/">Home Page</a></li>
		            <li><a href="/example1">1 - How to login to GroupDocs using the API</a></li>
		            <li><a href="/example2">2 - How to list files within GroupDocs Storage using the Storage API</a></li>
		            <li><a href="/example3">3 - How to upload a file to GroupDocs using the Storage API</a></li>
		            <li><a href="/example4">4 - How to download a file from GroupDocs Storage using the Storage API</a></li>
		            <li><a href="/example5">5 - How to copy / move a file using the GroupDocs Storage API</a></li>
		            <li><a href="/example6">6 - How to add a Signature to a document in GroupDocs Signature</a></li>
		            <li><a href="/example7">7 - How to create a list of thumbnails for a document</a></li>
		            <li><a href="/example8">8 - How to return a URL representing a single page of a Document</a></li>
		            <li><a href="/example9">9 - How to generate an embedded Viewer URL for a Document</a></li>
		            <li class="active"><a href="/example10">10 - How to share a document to other users</a></li>
				</ul>
                <p>
					<p>
						<div class="alert alert-info">This example will show how to share particular document from your GroupDocs account to other GroupDocs users using Ruby SDK</div>
					</p>
					{% if errmsg %}
						<p>
							<span class="label label-important">{{ errmsg }}</span>
						</p>
					{% elsif shared_emails %}
						<p style="color: green;">
							Document shared to user with e-mail <h1>{{ shared_emails }}</h1>
						</p>
					{% endif %}
					<form action="/example10" method="POST" enctype="multipart/form-data">
						<div class="input-append">
							<label for="fileId">File ID</label>
							<input type="text" name="fileId" id="fileId" /><br />
							
							<label for="emailId">Email</label>
							<input type="text" name="email" id="emailId" /><br />
							
							<input type="submit" value="Submit" class="btn" />
						</div>
					</form>
                </p>
            </div>

            <hr />

            <footer>
                <p>&copy; GroupDocs 2012</p>
            </footer>
        </div> <!-- /container -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
        <script src="static/js/vendor/bootstrap.min.js"></script>
        <script src="static/js/main.js"></script>
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
